* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  /* 图片不能大过容器 */
}

/* style */
body {
  min-width: 100%;
  min-height: 100vh;
  color: rgba(10, 10, 10);
  background-image: url(./img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s;
  background-position: center;
  /* backdrop-filter: blur(10px); */
}

@media (min-width: 500px) {
  .cover {
    z-index: -1;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
    background-image: radial-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
    transition: all 0.25s;
  }
}

.globalHeader {
  /* border: 1px red solid; */
  padding: 20px;
}

@media (min-width: 500px) {
  .globalHeader {
    padding: 50px 0;
  }
}

#btnBox {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: auto;
  height: 70px;
}

.btnBox_iconWarp {
  padding-top: 10px;
  padding-right: 20px;
}

.btnBox_icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all 0.25s;
}

.btnBox_iconWarp :hover {
  transform: scale3d(1.4, 1.4, 1.4);
}

.clock {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  transition: all 0.25s;
  cursor: pointer;
}

.clock:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.clock p {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  font-size: 35px;
  letter-spacing: 2px;
}

@media (min-width: 500px) {
  .clock p {
    font-family: "Microsoft Yahei Light", "Microsoft Yahei";
  }
}

.searchFrom {
  display: flex;
  justify-content: space-between;
}

/* 500px以下的样式不管 pc版本*/
@media (min-width: 500px) {
  .searchFrom {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 大于500PX的样式不管  只设定0~500px的样式
 @media (max-width: 500px) {
  .searchFrom {
  }
} */

.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.searchFrom > input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: none;
  outline: none;
  /* border: 1px #ddd solid; */
  background: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
}

input:focus {
}

.searchFrom > button {
  white-space: nowrap;
  /* 让按钮文本不换行 */
  padding: 0 28px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 255, 255, 0.3);
  color: black;
  outline: none;
}

.globalMain {
}
.siteList {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*换行*/
  margin: 20px;
}

@media (min-width: 500px) {
  .siteList {
    margin: 20px;
  }
}

/* PC版本 */

@media (min-width: 500px) {
  .siteList {
    margin-left: 0;
    margin-right: -25px;
    justify-content: flex-start;
  }
}

.siteList > li {
  margin-bottom: 10px;
}

.siteList > li :hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}

.siteList * {
  transition: all 0.25s;
}

.siteList .site {
  width: 160px;
  /* border: 1px red solid; */
  display: flex; /* 居中 */
  justify-content: center; /* 居中 */
  align-items: center; /* 居中 */
  flex-direction: column; /* 改成上下分*/
  margin-bottom: 10px;
  background: rgb(255, 255, 255, 0.3);
  /* border: 1px #ddd solid; */
  border-radius: 5px;
  padding: 20px 0;
}
.siteList .site > .logo {
  /* border: 1px red solid; */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center; /* 居中 */
  align-items: center; /* 居中 */
  font-size: 64px; /* 居中 */
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton {
  width: 160px;
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: rgb(255, 255, 255, 0.3);
  /* border: 1px #ddd solid; */
  border-radius: 5px;
}

.siteList .addButton .text {
  margin-top: 4px;
}

.iconWrapper {
  /* border: 1px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.addButton .icon {
  width: 56px;
  height: 56px;
}
